.main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
}

.left{
    width: 30%;
    min-width: 400px;
}

.bookInfo{
    margin:1rem;
    
}


button {
    padding: 10px;
    margin: 0.2rem;
    background: var(--dark);
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }

.favoriteStar{
    cursor: pointer;
    color: white;
    -webkit-text-stroke: 1px black;
}

.favoriteStar:hover{
    color: var(--middle);
}

.inFavorite{
    color: var(--middle);
}

.admin{
    margin-left: 2rem;
}