.main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
}

.left{
    width: 30%;
    min-width: 400px;
}

.bookInfo{
    margin:1rem;
    
}


button {
    padding: 10px;
    margin: 0.2rem;
    background: var(--light);
    border: 2px solid var(--darkest);
    border-radius: 5px;
    color: var(--darkest);
    cursor: pointer;
  }

.favorite{
    cursor: pointer;
    color: white;
    -webkit-text-stroke: 1px black;
}

.inFavorite{
    color: var(--middle);
}