<div>
    <form [formGroup]="form" (ngSubmit)="searchBooks()">
        <input type="text" formControlName="title" placeholder="Keresés címre...">
        <input type="text" formControlName="author" placeholder="Keresés szerzőre...">
        <app-multi-dropdown (genresChanged)="genresChanged($event)"></app-multi-dropdown>
        <button type="submit" class="searchButton">Keresés</button>
        <button (click)="resetSearch()" class="reset">X</button>
        <div>Rendezés</div>
    </form>
    
</div>