.ratings{
    align-self: flex-end;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0.3rem;
    border-radius: 10px;
    margin-top:3rem
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2rem;
    cursor: pointer;
}

.star {
    color: rgb(235, 235, 235);
    -webkit-text-stroke: 1px black;
    transition: color 0.2s;
}

.star:hover,
.star:hover~.star {
    color: gold;
}

.selected{
    color: gold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 400px;
    max-width: 90%;
    background-color: white;
    border: 1px solid var(--darkest);
    border-radius: 10px;
    padding: 1rem;
    margin: auto;
}

label{
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

textarea {
    height: 5rem;
    resize: none;
}

button {
    padding: 10px;
    margin: 0.2rem;
    background: var(--dark);
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]{
    width: fit-content;
    padding: 0.6rem 1rem;
    align-self: flex-end;
}

.reviews{
    border: 1px solid var(--darkest);
    max-height: 30rem;
    overflow-y: auto;
    background-color: white;
}

.review{
    margin: 0.3rem;
    border-width: 1px;
    border-style: 0px 0px 1px 0px;
    border-color: var(--dark);
    padding-bottom: 0.3rem;
}