<app-search-form (searchSubmitted)="handleSearch($event)"></app-search-form>
@if(authService.currentUserSig()?.role == "admin"){
    <button (click)="addingBook=true">Könyv hozzáadása</button>
        <div class="addBook">
            <app-input-book (bookSubmitted)="submitBook($event)" [isOpened]="addingBook"></app-input-book>
        </div>
    
}
<div class="list">
    @for(book of books(); track book._id){
        <div class="book" (click)="openBook(book._id)">
            <h3>{{ book.title }}</h3>
            <p><strong>Szerzők:</strong> {{ book.authors.join(', ') }}</p>
            <p><strong>Megjelenés:</strong> {{ book.published | date }}</p>
            <div class="genres">
                @for(genre of book.genres; track genre){
                    <div class="genre" [style.background-color]="genreList.get(genre)">{{genre}}</div>
                }
            </div>
            
        </div>
    }

</div>
