:root {
    --darkest: #171715;
    --dark2: #4c4b42;
    --dark: #484741;
    --middle: #8da17f;
    --light: #e1ddd4;
    --lightest: #eae7dd;

}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}