.favorites {
    max-width: 600px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: var(--lightest2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.book {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.book:last-child {
    border-bottom: none;
}

.favorite-title {
    font-weight: bold;
    color: #444;
}

h3 {
    color: var(--dark);
}